fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

streamlit

beautifulsoup4
requests

google-auth
google-auth-oauthlib
google-api-python-client
httplib2

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface

sentence-transformers
faiss-cpu

pytest