streamlit[auth]
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers
torch
torchvision
faiss-cpu
beautifulsoup4
google-auth
google-api-python-client
pydantic
pydantic-settings
python-dotenv
